.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-div {
  text-align: left;
  padding: 4rem;
  position: absolute;
  width: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column-headline {
  color: #d1c6ac;
  font-weight: 100;
  font-size: 50px;
  padding-bottom: 1rem;
}

.column-text {
  padding-bottom: 3rem;
  color: #787461;
}

.column-link {
  text-decoration: none;
  color: #a45818;
  font-weight: 100;
  padding: 1rem 6rem;
  border: 1px solid #3c5548;
}
